.careers {
  .culture {
    .container {
      .content {
        display: flex;
        align-items: center;

        gap: 3rem;
        .img-cont {
          flex: 1.5;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          img {
            object-fit: contain;
            width: 100%;
          }
        }
        .msg {
          flex: 1;
          color: gray;
          p {
            font-weight: 500;
            line-height: 1.8rem;
          }
        }
      }
    }
  }
  .perks {
    background-color: #eeeeee;
    padding-bottom: 6rem;
    .container {
      .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        .card {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          background-color: #fff;
          display: flex;
          gap: 1rem;
          flex-direction: column;

          padding: 2rem;
          .icon {
            color: #e11d07;
            border: 2px dashed #e11d07;
            border-radius: 50%;

            padding: 1rem;
            height: 3rem;
            width: 3rem;
          }
        }
      }
    }
  }
  .join {
    padding-bottom: 6rem;
    .container {
      p {
        margin-top: 2rem;
        font-weight: 500;
        font-size: 1rem;
        max-width: 65%;
        span {
          color: #e11d07;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
